.Section {
  border: 1px solid #6a6a6a;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.03);
}
@media (prefers-color-scheme: dark) {
  .Section {
    background-color: rgba(255, 255, 255, 0.03);
  }
}
.Section__title {
  margin: 15px 20px 10px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  align-self: center;
}
.Section__highlight {
  grid-row: 2;
  background-color: var(--background-color);
  border: 1px solid #6a6a6a;
  border-top-color: darkgray;
  border-top-color: rgba(0, 0, 0, 0.3);
  border-radius: 0 0 3px 3px;
  margin-top: -1px;
}
@media (prefers-color-scheme: dark) {
  .Section__highlight {
    border-top-color: rgba(255, 255, 255, 0.3);
  }
}
.Section__highlight--advanced {
  margin-top: -10px;
}
.Methods {
  display: contents;
}

.Initiator {
  margin: 0;
  padding: 10px 20px;
  text-align: center;
}
.Initiator--secondary {
  font-style: italic;
}
.Initiator h4 {
  font: inherit;
}
.Initiator a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}
.Initiator a:hover,
.Initiator a:focus {
  text-decoration: underline;
}
.Initiator[data-column='3'] {
  padding-right: 0;
}
.Initiator[data-column='4'] {
  padding-left: 0;
  padding-right: 0;
}
.Initiator[data-column='5'] {
  padding-left: 0;
}

.Method {
  margin: -1px 19px;
  padding: 9px 11px;
  background-color: white;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  list-style: none;
}
@media (prefers-color-scheme: dark) {
  .Method {
    background-color: #1e1e1e;
  }
}
.Method--main {
  font-weight: 600;
}
.Method--secondary {
  font-style: italic;
}
.Method--endsInMiddle {
  margin-right: 0;
}
.Method.render {
  --base-color-rgb: 0, 106, 255;
}
.Method.pre-commit {
  --base-color-rgb: 245, 179, 0;
}
.Method.commit {
  --base-color-rgb: 12, 120, 0;
}
.Method a,
.Method span {
  display: block;
  width: 100%;
  height: 100%;
  margin: -9px -11px;
  padding: 8px 10px;
  background-color: rgba(var(--base-color-rgb), 0.2);
  border: 1px solid rgba(var(--base-color-rgb), 0.64);
  border-radius: 5px;
}
@media (prefers-color-scheme: dark) {
  .Method a,
  .Method span {
    background-color: rgba(var(--base-color-rgb), 0.1);
  }
}
.Method a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}
.Method a:hover,
.Method a:focus {
  background-color: #ffffff;
  position: relative;
  z-index: 1;
}
@media (prefers-color-scheme: dark) {
  .Method a:hover,
  .Method a:focus {
    background-color: #787878;
    background-image: linear-gradient(to right, rgba(var(--base-color-rgb), 0.2), rgba(var(--base-color-rgb), 0.2));
  }
}
@supports (-moz-outline-radius: 5px) {
  .Method a:hover,
  .Method a:focus {
    outline: 2px solid var(--border-color);
    outline-offset: -1px;
    -moz-outline-radius: 5px;
  }
}
@supports (not (-moz-outline-radius: 5px)) {
  .Method a:hover,
  .Method a:focus {
    margin: -10px -12px;
    border-width: 2px;
  }
}

.Arrow {
  position: relative;
  width: 0px;
  border-left: 1px dashed var(--text-color);
  margin: -19px auto calc(-19px + 5px) 50%;
}
.Arrow--solid {
  border-left-style: solid;
}
.Arrow--withAlt .Arrow {
  height: 20px;
  position: absolute;
  margin-top: 0;
  top: 0;
  transform: rotate(-30deg);
  transform-origin: top left;
}
.Arrow--withAlt .Arrow:before {
  content: '❌';
  display: block;
  position: absolute;
  bottom: -18px;
  right: -21px;
  transform: rotate(30deg);
}
.Arrow:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -5px;
  left: -4px;
}
@supports (clip-path: polygon(0% 0%, 100% 0%, 50% 100%)) {
  .Arrow:after {
    width: 7px;
    height: 10px;
    background: var(--text-color);
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  }
}
@supports (not (clip-path: polygon(0% 0%, 100% 0%, 50% 100%))) {
  .Arrow:after {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-width: 10px 3.5px 0 3.5px;
    border-top-color: var(--text-color);
  }
}

